{% extends "layout.html" %}
{% block content %}
<div class="about-title">Our Team</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="flex-container justify-content-around">
    
        <div class="card">
        <img src="{{ url_for('static', filename='Sachet.JPG') }}" alt="Sachet" style="width:100%">
        <h2>Sachet Adhikari</h2>
        <p class="title">Co-Founder, ShareSaga</p>
        <p>VIT University</p>
        <div class="d-flex justify-content-around mb-4">
            <a class="card-anchor" href="https://github.com/SachetAdhikari"><i class="fa fa-github"></i></a>
            <a class="card-anchor" href="https://www.instagram.com/sachetadhikari/"><i class="fa fa-instagram"></i></a>
            <a class="card-anchor" href="https://www.linkedin.com/in/sachet-adhikari-7000711b0/"><i class="fa fa-linkedin"></i></a>
            <a class="card-anchor" href="https://www.facebook.com/people/Sachet-Adhikari/100005144505038"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="mailto:sachet.adhikari2019@vitstudent.ac.in" class="button card-btn">Contact</a></p>
        </div>
    
        <div class="card">
        <img src="{{ url_for('static', filename='Gunjan.jpg') }}" alt="Gunjan" style="width:100%">
        <h2>Gunjan Raj Tiwari</h2>
        <p class="title">Co-Founder, ShareSaga</p>
        <p>VIT University</p>
        <div class="d-flex justify-content-around mb-4">
            <a class="card-anchor" href="https://github.com/GunjanRajTiwari"><i class="fa fa-github"></i></a>
            <a class="card-anchor" href="https://www.instagram.com/gunjan_raj_tiwari/"><i class="fa fa-instagram"></i></a>
            <a class="card-anchor" href="https://www.linkedin.com/in/gunjan-raj-tiwari-bb4624187/"><i class="fa fa-linkedin"></i></a>
            <a class="card-anchor" href="https://www.facebook.com/gunjanraj.tiwari"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="mailto:im.gunjan1@gmail.com" class="button card-btn">Contact</a></p>
        </div>
    
        
        <div class="card">
        <img src="{{ url_for('static', filename='Sandesh.jpeg') }}" alt="Sandesh" style="width:100%">
        <h2>Sandesh Dhungana</h2>
        <p class="title">Co-Founder, ShareSaga</p>
        <p>VIT University</p>
        <div class="d-flex justify-content-around mb-4">
            <a class="card-anchor" href="https://github.com/sandesh32"><i class="fa fa-github"></i></a>
            <a class="card-anchor" href="https://www.instagram.com/dh.sandesh/"><i class="fa fa-instagram"></i></a>
            <a class="card-anchor" href="https://www.linkedin.com/in/sandesh-dhungana-b5ba251a2/"><i class="fa fa-linkedin"></i></a>
            <a class="card-anchor" href="https://www.facebook.com/dhungana.sandesh"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="mailto:sandesh.dhungana2019@vitstudent.ac.in" class="button card-btn">Contact</a></p>
        </div>
    
       
        <div class="card">
        <img src="{{ url_for('static', filename='Kapil.jpg') }}" alt="Kapil" style="width:100%">
        <h2>Kapil Dhungana</h2>
        <p class="title">Co-Founder, ShareSaga</p>
        <p>VIT University</p>
        <div class="d-flex justify-content-around mb-4">
            <a class="card-anchor" href="https://github.com/kapil-coder"><i class="fa fa-github"></i></a>
            <a class="card-anchor" href="#"><i class="fa fa-instagram"></i></a>
            <a class="card-anchor" href="https://www.linkedin.com/in/kapil-dhungana-28ba55199"><i class="fa fa-linkedin"></i></a>
            <a class="card-anchor" href="https://www.facebook.com/kapil.dhungana.140"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="mailto:kapil.dhungana2019@vitstudent.ac.in" class="button card-btn">Contact</a></p>
        </div>
    
</div>


{% endblock content %}