body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #0B3954;
}

.site-header .navbar-nav .nav-link {
  color: lightsteelblue;
  font-size: 17px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  box-shadow: mintcream 1px;
  font-size: 18px;
  -ms-text-combine-horizontal: 0.5s;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #3a95e4;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.drop-nav {
  color: #333;
}

.dropdown .btn {
  margin-left: 5px;
  background: none;
  border-radius: 0px;
  color: white;
}

.nav-pic{
  object-fit: cover;
  border-radius: 50%;
}

/* about page */
.about-title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2vh;
}

.card {
  margin-left: 8vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: #0B3954;
  font-size: 16px;
}

.card-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #0B3954;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 2px;
}

.card-anchor {
  text-decoration: none;
  font-size: 22px;
  color: #0B3954;
}

.card-btn:hover, .card-anchor:hover {
  opacity: 0.7;
}

.img-sm {
  height: 25px;
  width: 25px;
}

.card:hover {
  width: 310px;
  transition: ease-in 0.3s;
  box-shadow: 2px 2px 2px 2px #aecada69;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.oauth {
  display: inline;
  border: 1px solid gray;
  box-shadow: 1px 1px #a09b9b8f;
  border-radius: 4px;
  padding: 10px;
}

.oauth a{
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 200;
}

.oauth:hover {
  text-decoration: #dddddd;
  color: #fafafa;
  background-color: #444444;
  transition: 0.4s;
}

.oauth:hover > a{
  color: #fafafa;
}

.register{
  margin: 20vh auto;
  align-items: center;
  text-align: center;
}